<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title th:unless=${editMode} th:text="|Create new award|"></title>
	<title th:if="${editMode}" th:text="|Edit award: ${award.title}|"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

	<div class="container">
		<div th:replace="fragments/header :: navbar"></div>
		<h1 th:unless=${editMode} th:text="|Create new award|"></h1>
		<h1 th:if=${editMode} th:text="|Edit award: ${award.title}|"></h1>

		<!-- ///////FORM//////// -->
		<form th:object="${award}" method="post" id="form-award"
			th:action="${editMode} ? @{|/awards/${award.id}/update|} : @{/awards/create}">
			<input type="hidden" th:field="*{id}" id="id">

			<!--	title	-->
			<label for="award-title" class="form-label">Title</label>
			<input type="text" th:field="*{title}" placeholder="Award's title" id="award-title" class="form-control">

			<!--	year	-->
			<label for="award-year" class="form-label">Year</label>
			<input type="number" th:field="*{year}" placeholder="Award's year" id="award-year" class="form-control">

			<!--	description	-->
			<label for="award-decr" class="form-label">Description</label>
			<input type="text" th:field="*{description}" placeholder="Award's description" id="award-decr"
				class="form-control">

			<!--	award type	-->
			<label for="award-type" class="form-label">Type</label>
			<input type="text" th:field="*{awardType}" placeholder="Award's type" id="award-type" class="form-control">




			</select>
			<div th:if="${#fields.hasAnyErrors()}">
				<ul class="list-group">
					<il th:each="err : ${#fields.allErrors}" th:text="${err}"
						class="alert alert-primary list-group-item">

					</il>
				</ul>
			</div>
			<br>
			<button type="submit" class="btn btn-primary mb-3">Save</button>


		</form>


	</div>
	<!-- SCRIPT BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>