<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title th:unless="${editMode}" th:text="|Create new book collection|"></title>
	<title th:if="${editMode}" th:text="|Edit book collection: ${bookCollection.name}|"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>
	<div class="container">
		<h1 th:unless="${editMode}" th:text="|Create new book collection|"></h1>
		<h1 th:if="${editMode}" th:text="|Edit book collection: ${bookCollection.name}|"></h1>

		<!-- ///////FORM//////// -->
		<form th:object="${bookCollection}" method="post" id="form-book-collection"
			th:action="${editMode} ? @{|/book-collections/${bookCollection.id}/update|} : @{/book-collections/create}">
			<input type="hidden" th:field="*{id}" id="id">

			<!-- TITLE -->
			<label for="collection-title" class="form-label">Title</label>
			<input type="text" th:field="*{title}" placeholder="Collection title" id="collection-title"
				class="form-control">

			<!-- DESCRIPTION -->
			<label for="collection-description" class="form-label">Description</label>
			<textarea th:field="*{description}" placeholder="Collection description" id="collection-description"
				class="form-control"></textarea>

			<!-- IS NUMERATED -->
			<div class="form-check">
				<label class="form-check-label" for="isNumerated">Is numerated?</label>
				<input type="checkbox" th:field="*{isNumerated}" class="form-check-input" id="isNumerated">
			</div>

			<!-- BOOKS -->
			<label for="collection-books" class="form-label">Books</label>
			<select name="collection-books" id="collection-books" th:field="*{books}" multiple class="form-control">
				<option th:each="book : ${books}" th:value="${book.id}"
					th:text="|${book.title}, ${book.author}, ${book.edition.name}, ${book.publishDate}, ${book.language} (${book.isbn})|">
				</option>
			</select>

			<!-- PUBLISHER -->
			<label for="collection-publisher" class="form-label">Publisher</label>
			<select name="collection-publisher" id="collection-publisher" th:field="*{publisher}" class="form-control">
				<option th:each="publisher : ${publishers}" th:value="${publisher.id}"
					th:text="|${publisher.name}, ${publisher.country}, ${publisher.city}|">
				</option>
			</select>

			<div th:if="${#fields.hasAnyErrors()}">
				<ul class="list-group">
					<li th:each="err : ${#fields.allErrors}" th:text="${err}"
						class="alert alert-primary list-group-item">
					</li>
				</ul>
			</div>
			<br>
			<button type="submit" class="btn btn-primary mb-3">Save</button>
		</form>
	</div>

	<!-- SCRIPT BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4xF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>