<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title th:unless=${editMode} th:text="|Create new author|"></title>
	<title th:if="${editMode}" th:text="|Edit author: ${author.firstName} ${autyhor.lastName}|"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

	<div class="container">
		<h1 th:unless=${editMode} th:text="|Create new author|"></h1>
		<h1 th:if=${editMode} th:text="|Edit author: ${author.firstName} ${autyhor.lastName}|"></h1>

		<!-- ///////FORM//////// -->
		<form th:object="${author}" method="post" id="form-author"
			th:action="${editMode} ? @{|/authors/${author.id}/update|} : @{/authors/create}">
			<input type="hidden" th:field="*{id}" id="id">

			<!--	FIRST NAME		-->
			<label for="author-first-name" class="form-label">First name</label>
			<input type="text" th:field="*{firstName}" placeholder="First name" id="author-first-name"
				class="form-control">

			<!--	LAST NAME		-->
			<label for="author-last-name" class="form-label">Last name</label>
			<input type="text" th:field="*{lastName}" placeholder="Last name" id="author-last-name"
				class="form-control">

			<!--	BIRTH DATE		-->
			<label for="author-birth-date" class="form-label">Birth date</label>
			<input type="date" th:field="*{birthDate}" id="author-birth-date">
			<br>

			<!--	DEATH DATE		-->
			<label for="author-death-date" class="form-label">Death date(if dead)</label>
			<input type="date" th:field="*{deathDate}" id="author-death-date">
			<br>

			<!--	NATIONALITY		-->
			<label for="author-nationality" class="form-label">Nationality</label>
			<input type="text" th:field="*{nationality}" placeholder="Nationality" id="author-nationality">
			<br>

			<!--	BIO				-->
			<label for="author-bio" class="form-label">Author's bio</label>
			<input type="text" th:field="*{bio}" placeholder="Author's bio" id="author-bio">
			<br>

			<!--	WEBSITE			-->
			<label for="author-website" class="form-label">Website</label>
			<input type="text" th:field="*{website}" placeholder="Website URL" id="author-website">
			<br>

			<!--	PRO PIC			-->
			<label for="author-propic" class="form-label">Author's profile picture</label>
			<input type="text" th:field="*{profilePicture}" placeholder="Profile picture URL" id="author-propic">
			<br>

			<!--	SOCIAL MEDIA	-->
			<label for="author-social" class="form-label">Author's social media</label>
			<input type="text" th:field="*{socialMedia}" placeholder="Social media URL" id="author-social">
			<br>

			<!--	IS ACTIVE		-->
			<label for="author-active" class="form-label">Is author active?</label>
			<input type="checkbox" id="author-active" value="true" th:field=*{isActive}>
			<br>

			<!--	MAIN GENRE		-->
			<label for="author-genre" class="form-label">Author's main genre</label>
			<th:block th:each="genre:${genres}">
				<input type="radio" th:value="${genre.id}" th:field="*{mainGenre}">
				<label th:text="${genre.name}"></label>
			</th:block>

			<div th:if="${#fields.hasAnyErrors()}">
				<ul class="list-group">
					<il th:each="err : ${#fields.allErrors}" th:text="${err}"
						class="alert alert-primary list-group-item">

					</il>
				</ul>
			</div>
			<br>
			<button type="submit" class="btn btn-primary mb-3">Salva</button>


		</form>


	</div>
	<!-- SCRIPT BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>