<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Analytics</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

	<div class="container">
		<h1>Analytics Dashboard</h1>

		<div>
			<span>Commands</span>
			<ul>
				<li>
					<a href="/">Return Home</a>
				</li>
			</ul>
		</div>

		<div>
			<span>Analytics Data</span>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Analytic Type</th>
						<th scope="col">Event Timestamp</th>
						<th scope="col">Book</th>
						<th scope="col">Customer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="analytic : ${analytics}" scope="row">
						<td th:text="${analytic.id}"></td>
						<td th:text="|${analytic.analyticType.getName()}: ${analytic.analyticType.getTextTemplate()}|">
						</td>
						<td th:text="${analytic.eventTimestamp}"></td>
						<td
							th:text="|${analytic.bookId.getTitle()}, ${analytic.bookId.getPublishDate()}, ISBN: ${analytic.bookId.getIsbn()}|">
						</td>
						<td
							th:text="|${analytic.customerId.getId()} - ${analytic.customerId.getFirstName()} ${analytic.customerId.getLastName()}|">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- SCRIPT BOOTSTRAP-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>